<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @datapoint.goal_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @datapoint.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @datapoint.date %>
</p>
